.Footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 150px 0;
  height: 636px;
  -webkit-clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
          clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}
.Footer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 636px;
}
.Footer .footerContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  width: 1400px;
}
.Footer .footerNav {
  display: flex;
  flex-direction: column;
}
.Footer .footerNav .navTitle {
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}
.Footer .footerNav .navList {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.Footer .footerNav .navList .navListItem {
  cursor: pointer;
  color: #737373;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  transition: color 200ms ease-out, -webkit-text-decoration 200ms ease-out;
  transition: color 200ms ease-out, text-decoration 200ms ease-out;
  transition: color 200ms ease-out, text-decoration 200ms ease-out, -webkit-text-decoration 200ms ease-out;
}
.Footer .footerNav .navList .navListItem:hover {
  color: #000;
  -webkit-text-decoration: underline var(--teodriveColor);
          text-decoration: underline var(--teodriveColor);
}
.Footer .footerLegend {
  display: flex;
  flex-direction: column;
  color: #737373;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: -0.016rem;
  padding-top: 1.5rem;
}
.Footer .footerBottom {
  display: flex;
  justify-content: space-between;
  padding-top: 8rem;
  width: 1400px;
}
.Footer .footerBottom .copyright {
  color: #737373;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.Footer .teodriveAppLogo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 90px;
  height: 90px;
}
.Footer .upcomingAppMessage {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  background-color: #161616;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  border-radius: 1.75rem;
  padding: 0.75rem;
}
.Footer .upcomingAppMessage .title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  min-width: 180px;
}
.Footer .upcomingAppMessage .appOS {
  color: #737373;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.Footer .upcomingAppMessage .caption {
  color: #8C8C8C;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
.Footer .upcomingAppMessage .brandLogo {
  opacity: 0.4;
  -o-object-fit: contain;
     object-fit: contain;
  width: 18px;
  height: 18px;
}