.DashboardMockup {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 1rem;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  width: 1152px;
  height: 700px;
}

.dashboardHeader {
  display: flex;
  align-items: center;
  box-shadow: inset 0px -1px 0px 0px #242424;
  width: 100%;
  height: fit-content;
}

.dotWrapper {
  display: flex;
  column-gap: 0.5rem;
  padding: 1rem;

  .dot {
    border-radius: 50%;
    background-color: #555555;
    width: 12px;
    height: 12px;
  }
}

.url {
  display: flex;
  background-color: #242424;
  border-radius: 0.5rem;
  color: #b6b6b6;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 4px 12px;
  margin: 0 auto;

  .highlighted {
    color: var(--teodriveColor);
  }
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0 1rem;

  .actionBtn {
    &:hover {
      color: #fff;
    }
  }
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}