.Privacy {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
}

.legalTitle {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  letter-spacing: -0.063rem;
  color: #000;
}

.legalContent {
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 3rem;
  padding: 8rem 10rem 8rem 10rem;
  width: 1150px;
  height: 100%;
}
.legalContent .legalHeader {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  color: #8b8b8b;
}
.legalContent .legalHeader .legalLastUpdated {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 0.75rem;
}
.legalContent .legalHeader .backBtn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  background-color: transparent;
  padding: 0;
  color: #8b8b8b;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: column-gap 200ms ease-out, color 200ms ease-out;
  transition: column-gap 200ms ease-out, color 200ms ease-out, -moz-column-gap 200ms ease-out;
}
.legalContent .legalHeader .backBtn:hover {
  color: #000;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}

.InfoSection {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
.InfoSection .title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}
.InfoSection .content {
  color: #1a1a1a;
  font-size: 1rem;
}